<section>
    <header>
        <div class="row ">
            <nav class="navbar navbar-expand-lg navbar   fixed-top">
                <div class="col-2">
                    <a class="navbar-brand" href="/">Brainy &#8508</a> </div>
                <div class="col-8 ">
                    <ul class="navbar-nav  justify-content-center">

                        <li class="nav-item ">
                            <a class=" nav-link " href="#">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#">F&Q</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#">Brainstorming</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="nav navbar-nav navbar-right">
                        <% if (isAuthenticated){%>
                        <li class="nav-item ">
                            <a class="nav-link" href="/users/profile"><i class="fas fa-user"></i> profile</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/users/logout"> Logout</a>
                        </li>
                        <% } else {%>
                        <li class="nav-item ">
                            <a class="nav-link " href="/users/signup"><i class="fas fa-user-plus"></i> Sign Up</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/users/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                        </li>

                        <% } %>
                    </ul>
                </div>

            </nav>
    </header>
</section>