<% include ./partials/header %>
<section>
    <div class="container-fluid bg-secondary d-flex">
        <div id="stormsList" class="mr-auto p-2 bg-light">
            <h1>Storms List</h1>
        </div>
        <div class="p-2 bg-info ">
            <button class="btn btn-primary btn-lg  ">
                <a href="/brainstorming/addStorm">Add Storm</a>
            </button>
        </div>
    </div>
</section>