<% include ./partials/header %> 
<section class="container-fluid p-5">
    <div class="d-flex">
        <div id="stormsList" class="mr-auto p-2">
            <h1>Storms</h1>
        </div>
        <div class="p-2 ">
            <a href="/brainstorming/addStorm">
                <button class="btn btnClr btn-lg  ">
                Add Storm
                </button>
            </a>
        </div>
    </div>

     <div class="storm_container flex-wrap">
           <% if(typeof results != 'undefined' ) { %>
                <% results.forEach(function (result,i) { %>
                    
                    <form action="/brainstorming/getOne">
                        <a href="/brainstorming/getOne/<%- result.id %>">
                        <div class="box">
                            <div class="title"><p><%- result.nom %></p></div>
                            <div class="content">
                                    <h3></h3>
                                    <p><%- result.description %></p>
                            </div>
                        </div>
                        </a>
                    </form>
                    
                <% }); %>
                <% } %> 
        </div>
 
   
</section>