<% include ./partials/header %>
<section class="container"> 
    <% if(typeof ideas != 'undefined' ) { %>
        <% ideas.forEach(function (idea,i) { %>
     
        <% }); %>
    <% } %>
    <div class="idee_innovante">
        <h1>L’associogramme</h1>
        <p>Déroulement : Les participants sont assis en cercle. L’animateur lance un mot. Quels autres mots peut-on y associer ? Les participants donnent des mots qui leur viennent à l’esprit dans la  langue choisit . Pour expliquer le jeu, l’animateur aura préalablement donné un ou plusieurs exemples concrets (à l’oral ou par écrit au tableau). 
            Variante : Après avoir fixé les chaînes de mots à l’écrit, on peut approfondir les différents champs lexicaux qui en découlent (ne pas oublier les traductions), afin de faire un travail de systématisation. Matériel : Affiches A1, feutres, cahiers de notes… 
           <b> Remarque </b>: On peut faire appel à la créativité des jeunes pour que les « chaînes de mots », ces associations, puissent être dessinées, peintes ou regroupées sous forme de calligrammes.
        </p>
    </div>
    <div  class="idee_innovante">
            <h1>Avant-arrière </h1>
        <p>Le meneur de jeu prépare une affiche sur laquelle sont inscrits dans les deux langues les termes suivants : avant – arrière – à gauche – à droite (choisir la langue), puis les fait répéter à tous les participants qui sont debout en cercle. Ensuite, une personne commence : elle dit l’un des mots dans la langue et tout le groupe doit faire en même temps un petit saut les pieds joints dans la direction indiquée (par exemple, vers la gauche). Elle lance la balle à une autre personne qui, à son tour, choisit un mot et ainsi de suite. Assez rapidement, le niveau de difficulté augmente : désormais, la personne doit dire par exemple trois directions. Il est aussi possible de mélanger les langues. Enfin, on peut introduire un élément de compétition : celui/celle qui se trompe dans ses sauts est éliminé(e). 
        </p>
    </div>
    <div  class="idee_innovante">
            <h1>La course aux lettres  </h1>
        <p>
                Nombre de participants : minimum 10 
                Déroulement : Former 2 équipes binationales qui se tiennent en position de « course de relais » devant le tableau. L’animateur partage le tableau en deux parties : une surface pour l’équipe A, l’autre pour l’équipe B. Le but du jeu est d’écrire un mot pour chaque lettre de l’alphabet en un temps record. Le joueur A de l’équipe 1 se tient sur la ligne de départ avec le joueur A de l’équipe 2. Au signal donné par l’animateur, A1 et A2, chacun une craie en main (ou un marqueur pour les tableaux blancs), courent jusqu’au tableau et écrivent un mot dont l’initiale est la lettre A. Puis, ils retournent dans leur équipe pour passer le «témoin» au joueur B qui écrira un mot dont l’initiale est la lettre B, puis les joueurs C écriront un mot avec l’initiale C, etc. L’animateur fera office d’arbitre pour les mots écrits au tableau ; si un mot écrit par le participant A n’est pas correct (n’est pas correctement orthographié ou n’existe pas), le participant B de la même équipe devra trouver un autre mot avec la même initiale. 
                La première équipe qui a écrit un mot dont l’initiale est la lettre Z, a gagné la partie. Variante : On peut laisser les équipes arriver à la lettre Z sans corriger les fautes, à la fin de la partie, on compte les mots correctement écrits (un point par mot) et l’équipe avec le plus de points gagne. 
                
        </p>
    </div>
</section>