<% include ./partials/header %>
<section class="container"> 
    <% if(typeof ideas != 'undefined' ) { %>
        <% ideas.forEach(function (idea,i) { %>
     
        <% }); %>
    <% } %>
</section>