
<section class="bg">
<header id="">
    <nav class=" navbar navbar-expand-md  ">
        <button class="  navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "><i class="fas fa-bars fa-2x "></i></span>
        </button>
        <div class=" collapse navbar-collapse " id="navbarSupportedContent">
            <div class=" d-flex w-100 justify-content-between ">
                <div class="p-2 ">
                    <a class="navbar-brand" href="/">SE</a>
                    <span class="navbar-text">Share Education</span>
                </div>
       
                <div class="p-2  ">
                    <ul class="nav navbar-nav  ">
                      
                        <li class="nav-item ">
                            <a class="nav-link" href="/users/profile"><i class="fas fa-user"></i> profile</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/users/logout"><i class="fas fa-power-off"></i> Logout</a>
                        </li>
                      
             
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div id="homebigdiv" >
        
    <div class="d-flex">
        <div id="homedivForum" class="homediv">
            <a  href="/forum" >
                <!-- <img src="/images/forum.jpg" alt="brainstorming"> -->
                <p>Discussion Forum</p>
            </a>    
        </div>
        <div id="homedivStorm" class="homediv">
            <a  href="/brainstorming" >     
                <!-- <img src="/images/brainstorming.jpg" alt="brainstorming" > -->
                <p>Brainstomring</p>
            </a>
        </div>
    </div>
    <div class="d-flex">
            <div id="homedivIdeas" class="homediv" >
            <a href="/ideas" >
                <!-- <img src="/images/ideas.jpg" alt="brainstorming" > -->
                <p>Innovative Ideas</p>
            </a>
            </div>
            <div id="homedivFiles" class="homediv">                        
                <a  href="/files" >
                    <!-- <img src="/images/files.jpg" alt="brainstorming" class="img-fluid"> -->
                    <p>Sharing Files</p>
                </a>
            </div>
    </div>

</div>
</section>