<section class="container-fluid bg">
    <header >
        <nav class=" navbar navbar-expand-md  ">
            <button class="  navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "><i class="fas fa-bars fa-2x "></i></span>
            </button>
            <div class=" collapse navbar-collapse " id="navbarSupportedContent">
                <div class=" d-flex w-100 justify-content-between ">
                    <div class="p-2 ">
                        <a class="navbar-brand" href="/">SE</a>
                        <span class="navbar-text">ShareEducation</span>
                    </div>
           
                    <!-- <div class="p-2  ">
                        <ul class="nav navbar-nav  ">
                            <% if (isAuthenticated){%>
                            <li class="nav-item ">
                                <a class="nav-link" href="/users/profile"><i class="fas fa-user"></i> profile</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/users/logout"> Logout</a>
                            </li>
                            <% } else {%>
                            <li class="nav-item ">
                                <a class="nav-link " href="/users/signup"><i class="fas fa-user-plus"></i> Sign Up</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/users/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                            </li>
                            <% } %>
                        </ul>
                    </div> -->
                </div>
            </div>
        </nav>
    </header>
    <div  id="indexpos" class="row">
        <div  class="p-2 col-6">
            <div class="card-body" >
        <blockquote class="blockquote">
        <pre id="quotepre">"In learning you will <b style="color:#004d7a">teach</b> . 
    and in teaching you will <b style="color:#004d7a">learn</b>"</pre>
        <footer class="card-blockquote ">-Phil Collins</footer>
        </blockquote>
        </div>
        </div>
        <div class="p-4 col-3" style="border-left: 5px solid">
            <% include ./partials/messages %>
            <form action="/users/login" method="POST">
                <div class="form-group ">
                    <input type="text" id="username" name="username" class="form-control"
                        placeholder="Enter your Username" />
            </div>
            <div class="form-group ">
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Enter Password" />
            </div>
                <button type="submit" class="btn " >CONNECTED</button>
            </form>
        </div>
        <div class="col-3" style="color: white; border-left: 5px solid white">
            <p>NO ACCOUNT YET !</p>

            <p>Join the first professional social network of teachers in Algeria</p>
            <button class="btn btn-lg "><a href="/users/signup"  class="text-white">CREATE AN ACCOUNT</a></button>  
        </div>
    </div>

   
</section>





