<% include ./partials/header %>
<div id="quote">
  <div class="card-body">
    <blockquote class="blockquote">
      <pre>"In learning you will teach. 
	              and in teaching you will learn"</pre>
      <footer class="card-blockquote">-Phil Collins</footer>
    </blockquote>
  </div>
</div>
<a><span id="arrow"> <i class="fas fa-angle-down fa-5x"></i></span></a>