<section class='container'>
    <h1>Storm page <%- results[0].id%></h1>
<div id='stormBoard' class="d-flex flex-column" >
<div class="minibox" id="stormIdea"></div>
<div class="minibox" id="stormIdea"></div>
<div class="minibox" id="stormIdea"></div>
</div>

</section>

<script type="text/javascript">
$(document).ready(function(){
    
    $('#stormBoard').on('click','.minibox',function(){
        $('.minibox').click(function() { $(this).remove(); });
        
    })
    $('#stormBoard').on('dblclick',function(){
        $('#stormBoard').append('<div id="stormIdea" class="minibox"></div>')
    })
})



</script>